---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "@fontsource/roboto";
import "../all.min.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { date } from "astro/zod";
const { data } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang} dir={t("direction")}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={data?.title} />
    <meta name="description" content={data?.description} />
    <meta name="keywords" content={data?.tags} />
    <meta name="robots" content="index, follow" />
    <meta name="author" content={data?.author} />
    <meta name="url" content={Astro.url} />

    <meta property="og:title" content={data?.title} />
    <meta property="og:type" content={data?.pageType} />
    <meta property="og:url" content={Astro.url} />
    <meta
      name="image"
      property="og:image"
      content={Astro.site + data.image?.url}
    />
    <meta property="og:image:alt" content={data.image?.alt} />
    <meta property="og:description" content={data?.description} />
    <meta property="og:site_name" content="Bassam Ahmad" />

    <meta property="og:locale" content={lang == "ar" ? "ar_AR" : "en_US"} />
    <meta
      property="og:locale:alternate"
      content={lang == "ar" ? "en_US" : "ar_AR"}
    />
    <meta name="publish_date" property="og:publish_date" content={data?.date} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bassamxyz" />
    <meta name="twitter:title" content={data?.title} />
    <meta name="twitter:description" content={data?.description} />
    <meta name="twitter:image" content={data.image?.url} />
    <meta name="twitter:image:alt" content={data.image?.alt} />
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-C9CWQENM3R"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-C9CWQENM3R");
    </script>
    <title>{data.title}</title>
  </head>
  <body
    class="md:container mx-auto bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100 font-roboto text-lg"
  >
    <Header />
    <main class="px-5 pt-5">
      <slot />
    </main>
    <hr class="border-teal-600 m-5" />
    <Footer />
  </body>
</html>
